.legals-section {
  background-color: #fff;
}

.legals-header {
  height: auto;
  padding: 0;
}

.legals-section {
  padding: 25rem 30rem 25rem;
}
@media (max-width: 1600px) {
  .legals-section {
    padding: 25rem 20rem;
  }
}
@media (max-width: 1200px) {
  .legals-section {
    padding: 10rem 5rem;
  }
}