html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  font-size: 10px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: #f4f1f0;
  position: relative;
  min-width: 320px;
  max-width: 1920px;
}

h1 {
  font-size: 8rem;
  margin: 0 auto 10rem;
  width: -webkit-fit-content;
  width: fit-content;
}

h2 {
  font-size: 7rem;
  margin: 0 auto 10rem;
  width: -webkit-fit-content;
  width: fit-content;
}

h3 {
  font-size: 5rem;
  margin: 0 auto 8rem;
  width: -webkit-fit-content;
  width: fit-content;
}

h4 {
  font-size: 3rem;
  margin: 0 auto 8rem;
  width: -webkit-fit-content;
  width: fit-content;
}

section {
  overflow: hidden;
  padding: 0 10rem 25rem;
}

p {
  margin: 0 auto 5rem;
}

ul,
ol {
  margin: 0 auto 5rem;
}
ul li,
ol li {
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

.main-site-button {
  font-size: 4rem;
  font-weight: bold;
  outline: none;
  padding: 1rem;
  border-width: 4px;
  border-style: solid;
  position: relative;
  transition: 0.3s all ease;
}

.header-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 2.5rem;
  background-color: #f4f1f0;
  width: 100%;
  height: 20vh;
  overflow: hidden;
}

.main-nav {
  width: -webkit-fit-content;
  width: fit-content;
  margin: 0;
  margin-left: auto;
}

.main-nav-link {
  text-transform: capitalize;
  margin: 0 5rem 0 0;
  font-size: 3rem;
  font-weight: bold;
  color: #3c2323;
  transition: all 0.2s ease-out 0s;
  border-bottom: 4px solid transparent;
  padding-bottom: 5px;
}
.main-nav-link:hover, .main-nav-linkfocus {
  border-bottom: 4px solid #3c2323;
  padding-bottom: 0;
  margin-bottom: 5px;
  outline: 0;
}
@media (max-width: 800px) {
  .main-nav-link:hover, .main-nav-linkfocus {
    border-bottom: 3px solid transparent;
  }
}
.main-nav-link:last-of-type {
  margin: 0;
}

#main-nav-current {
  color: #3f80c2;
  pointer-events: none;
}

.main-nav-trigger-wrapper {
  display: none;
}

.header-phone-contact-link {
  font-size: 4rem;
  color: #3f80c2;
  margin-left: 5rem;
}

.main-header {
  position: relative;
  padding-bottom: 25rem;
}

.main-logo-wrapper {
  width: 100%;
  height: auto;
  max-width: 150px;
}

.main-logo {
  width: 100%;
  height: 100%;
}

.header-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 70vh;
}

.header-text-wrapper,
.header-main-image-wrapper {
  flex: 1 0 auto;
  width: 50%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  background-color: #3f80c2;
}

.header-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 5rem;
  color: #f4f1f0;
}

.main-header-heading {
  margin: 0;
}

.header-subheading {
  font-size: 4rem;
  font-weight: normal;
}

.header-link {
  font-size: 4rem;
  font-weight: bold;
  outline: none;
  padding: 1rem;
  border-width: 4px;
  border-style: solid;
  position: relative;
  transition: 0.3s all ease;
  background-color: #3f80c2;
  color: #f4f1f0;
  border-color: #f4f1f0;
}
.header-link:hover {
  color: #3f80c2;
  background-color: #f4f1f0;
  box-shadow: 5px 5px 0px 0px #289fed, 10px 10px 0px 0px #5fb8ff, 15px 15px 0px 0px #a1d8ff, 20px 20px 0px 0px #cae6ff, 25px 25px 0px 0px #e1eeff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.header-link:active {
  box-shadow: none;
}

.header-main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  font-family: "ff-dagny-web-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

.general-contact-form-section {
  color: #3c2323;
  background-color: #3f80c2;
  color: #f4f1f0;
  padding: 10rem 25rem;
}

.general-contact-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.general-contact-form-input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 3rem;
  margin-bottom: 20rem;
}

.contact-form-subheading {
  font-weight: normal;
  margin-bottom: 10rem;
}

.general-contact-form-label {
  width: 30rem;
  flex: 0 1 auto;
  font-weight: 700;
  vertical-align: bottom;
  line-height: 0.7;
}
@media (max-width: 700px) {
  .general-contact-form-label {
    line-height: normal;
    margin-bottom: 5rem;
  }
}

.text-area-label {
  align-self: flex-start;
}

.general-contact-form-input {
  flex: 1 1 auto;
  border: 3px solid transparent;
  padding: 1rem;
  transition: 0.2s ease-out 0s;
}
@media (max-width: 700px) {
  .general-contact-form-input {
    width: 100%;
  }
}
.general-contact-form-input:focus, .general-contact-form-input:active {
  border: 3px solid #cc8a2f;
}

.text-area-input {
  border-bottom: 0;
  line-height: 1.85rem;
  background-attachment: local;
  resize: none;
}

.contact-consent-link {
  color: #f4f1f0;
  text-decoration: underline;
}

input,
button,
textarea,
select {
  font: inherit;
}

.required-marker {
  color: #cc8a2f;
}

.checkbox-div {
  display: flex;
  flex-direction: row;
  margin-bottom: 20rem;
  justify-content: center;
  align-items: flex-start;
}
.checkbox-div input {
  position: relative;
  width: -webkit-fit-content;
  width: fit-content;
  font-size: 0;
  top: 2px;
  display: inline;
}
.checkbox-div input:before {
  content: "";
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border: 1px solid #3f80c2;
  border-radius: 0.25em;
  background: #f4f1f0;
}
.checkbox-div input:after {
  content: "";
  position: absolute;
  height: 12px;
  width: 29px;
  color: #3c2323;
  border-left: 5px solid;
  border-bottom: 5px solid;
  top: 5px;
  left: 0;
  transform: rotate(-25deg) scale(0.75);
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.18, 1.96, 1, 1.96);
}
.checkbox-div input:checked:after {
  opacity: 1;
  transform: rotate(-45deg) scale(1);
}
.checkbox-div label {
  text-transform: none;
  display: inline-block;
  font-weight: bold;
  width: auto;
  margin-right: 5rem;
}

.submit-wrapper {
  margin-bottom: 0;
}

.submit {
  margin: 0 auto;
  border: 4px solid #f4f1f0;
  background-color: #3f80c2;
  padding: 1rem 2.5rem;
  color: #f4f1f0;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0;
  transition: all ease 0.4s;
}
.submit:hover {
  background-color: #f4f1f0;
  color: #3f80c2;
  box-shadow: 5px 5px 0px 0px #289fed, 10px 10px 0px 0px #5fb8ff, 15px 15px 0px 0px #a1d8ff, 20px 20px 0px 0px #cae6ff, 25px 25px 0px 0px #e1eeff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.success {
  font-size: 4rem;
  text-align: center;
}

.form-identification-number {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

.instagram-section {
  padding-top: 10rem;
}

#instafeed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.instagram-heading-link {
  transition: all 0.2s ease-out 0s;
  border-bottom: 4px solid transparent;
  padding-bottom: 5px;
  color: #3f80c2;
}
.instagram-heading-link:hover, .instagram-heading-linkfocus {
  border-bottom: 4px solid #3f80c2;
  padding-bottom: 0;
  margin-bottom: 5px;
  outline: 0;
}
@media (max-width: 800px) {
  .instagram-heading-link:hover, .instagram-heading-linkfocus {
    border-bottom: 3px solid transparent;
  }
}

.instagram-image-wrapper {
  flex: 1 1 auto;
  height: 200px;
  width: 200px;
  margin: 0.5rem;
}
.instagram-image-wrapper:first-of-type {
  margin-left: 0;
}
.instagram-image-wrapper:last-of-type {
  margin-right: 0;
}

.instagram-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-footer {
  display: flex;
  flex-direction: row;
  background-color: #3f80c2;
  padding: 10rem;
  overflow: hidden;
  color: #f4f1f0;
}
.main-footer a {
  color: #f4f1f0;
}

.footer-contact-div,
.footer-social-wrapper,
.footer-legals {
  flex: 1 0 auto;
  width: 30%;
}

.footer-contact-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-contact-div span {
  margin-bottom: 1rem;
}
.footer-contact-div a {
  text-decoration: underline;
}

.footer-social-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.footer-social-media-link {
  width: 75px;
  height: 75px;
}
.footer-social-media-link:first-of-type {
  margin-right: 10rem;
}

.footer-legals {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-legals a {
  text-decoration: underline;
}

.footer-credit {
  text-align: center;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.show-on-focus {
  position: absolute;
  color: #3c2323;
  background-color: #f4f1f0;
  padding: 10px;
  font-size: 3rem;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  margin: 0.5rem 0 0 0.5rem;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  text-decoration: none;
}
.show-on-focus:focus {
  z-index: 20;
  width: auto;
  height: auto;
  clip: auto;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

.user-is-tabbing a:focus,
.user-is-tabbing button:focus,
.user-is-tabbing input:focus,
.user-is-tabbing textarea:focus {
  outline: 3px dashed #ff5e00;
}

.cookie-warning-wrapper {
  display: none;
}