html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  font-size: 10px;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1 {
  font-size: 7rem;
}

img {
  max-width: 100%;
  display: block;
}

.main-nav {
  width: -webkit-fit-content;
  width: fit-content;
  margin: 0;
}

.main-nav-trigger-wrapper {
  display: none;
}

.main-header {
  position: relative;
}

.header-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
  background-color: #f4f1f0;
  width: 100%;
  height: 20vh;
  overflow: hidden;
}

.main-logo-wrapper {
  width: 100%;
  height: auto;
  max-width: 150px;
}

.main-logo {
  width: 100%;
  height: 100%;
}

.header-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 70vh;
}

.header-text-wrapper,
.header-main-image-wrapper {
  flex: 1 0 auto;
  width: 50%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  background-color: #417bbf;
}

.header-text-wrapper {
  padding: 5rem;
  color: #f4f1f0;
}

.header-main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  font-family: "ff-dagny-web-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

input,
button,
textarea,
select {
  font: inherit;
}

.form-identification-number {
  overflow: hidden;
  position: absolute;
  z-index: -10;
  opacity: 0;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.show-on-focus {
  position: absolute;
  color: #060709;
  background-color: #f4f1f0;
  padding: 10px;
  font-size: 4rem;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  margin: 0.5rem 0 0 0.5rem;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  text-decoration: none;
}
.show-on-focus:focus {
  z-index: 20;
  width: auto;
  height: auto;
  clip: auto;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

.user-is-tabbing a:focus,
.user-is-tabbing button:focus,
.user-is-tabbing input:focus,
.user-is-tabbing textarea:focus {
  outline: 3px dashed #ff5e00;
}