//*==============================================================================
//** Blog SCSS **
//*==============================================================================

//********** Imports **********

@use 'bits' as *; //Contains variables, media queries mixins etc.

//*=========================================
//** General styles **
//*=========================================

.blog-post-header {
  height: auto;
  padding: 0;
}

.blog-post-article {
  padding: $section-spacing-medium $section-spacing-large
    $section-spacing-medium;
}

.blog-image {
  max-height: 90vh;
  margin: 0 auto;
}

//*=========================================
//** Blog Index **
//*=========================================

.blog-index-item {
  margin-bottom: $section-spacing-medium;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.blog-index-title-link {
  @include link-underline($font-colour-blue);
  color: $font-colour-blue;
}

.paging {
  width: fit-content;
  margin: 0 auto $section-spacing-medium;

  a {
    @include link-underline($font-colour-blue);
    color: $font-colour-blue;
  }
}

//*=========================================
//** Blog Post **
//*=========================================

.blog-post-article {
  background-color: #fff;
}

.blog-post-title {
  font-size: $heading-size-large;
  word-break: break-word;
}

.blog-post-image-wrapper {
  width: 100%;
  margin-bottom: $paragraph-spacing-large;
}

.blog-post-image {
  width: 100%;
  max-height: 100vh;
  object-fit: cover;
  object-position: center;
}

.blog-text-block {
  margin-bottom: $paragraph-spacing-large;
  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.blog-embed {
  @include flex(column);
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto $paragraph-spacing-large;
}

.blog-general-embed {
  iframe {
    max-width: 100%;
  }
}

.blog-post-date-author {
  text-align: center;
}
