//*==============================================================================
//** Blog SCSS **
//*==============================================================================

//********** Imports **********

@use 'bits' as *; //Contains variables, media queries mixins etc.

//*=========================================
//** General styles **
//*=========================================

.blog-section {
  padding: 0 $section-spacing-large $paragraph-spacing-large;
}

.blog-image {
  max-height: 90vh;
  margin: 0 auto;
}

//*=========================================
//** Blog Index **
//*=========================================

.blog-index-item {
  margin-bottom: $section-spacing-medium;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.blog-index-title-link {
  @include link-underline($font-colour-blue);
  color: $font-colour-blue;
}

.paging {
  width: fit-content;
  margin: 0 auto $section-spacing-medium;

  a {
    @include link-underline($font-colour-blue);
    color: $font-colour-blue;
  }
}

//*=========================================
//** Blog Post **
//*=========================================
