//*==============================================================================
//** Homepage SCSS **
//*==============================================================================

//********** Imports **********

@use 'bits' as *; //Contains variables, media queries mixins etc.

//*=========================================
//** General Styles **
//*=========================================

.homepage-subheading-link {
  color: $font-colour-blue;
  @include link-underline($font-colour-blue);
}

//*=========================================
//** Three Image Section **
//*=========================================

.three-image-flex-wrapper {
  @include flex(row);
  justify-content: space-between;
  width: 100%;

  @include breakpoint(1300) {
    @include flex(column);
  }
}

.three-image-subheading {
  font-size: $font-size-medium;
  margin-bottom: $heading-spacing-small;
}

.three-image-block-wrapper {
  flex: 0 1 auto;
  width: 30%;

  @include breakpoint(1300) {
    width: 33%;
  }

  @include breakpoint(1300) {
    width: 100%;
    margin-bottom: $section-spacing-extra-small;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.three-image-image-wrapper {
  width: 100%;
}

.three-image-image {
  width: 100%;
  margin: 0 auto $paragraph-spacing-medium;
}

.three-image-paragraph {
  text-align: center;
  margin-bottom: 0;
}

//*=========================================
//** Split Image Text Section **
//*=========================================

.text-image-section {
  @include flex(row);
  justify-content: flex-start;
  height: auto;

  @include breakpoint(1200) {
    @include flex(column);
  }
}

.section-image-wrapper,
.section-text-wrapper {
  flex: 1 1 auto;
  width: 50%;
  height: auto;

  @include breakpoint(1200) {
    width: 100%;
  }
}

.section-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-text-wrapper {
  @include flex(column);
  justify-content: space-between;
  padding: $paragraph-spacing-large;
  font-size: $font-size-main;

  @include breakpoint(1400) {
    padding: $paragraph-spacing-smaller;
  }
}

.left-image-wrapper {
  order: 2;
}

.right-text-wrapper {
  order: 1;
}

//*=========================================
//** Parallax Image Section **
//*=========================================

.parallax-image-section {
  margin-bottom: $section-spacing-small;
  padding: 0;
  height: 70vh;
}

.parallax-image-wrapper {
  height: 100vh;
}

.parallax-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

//*=========================================
//** Testimonials Section  **
//*=========================================

//* Flickity v2.2.2

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */

.flickity-button {
  position: absolute;
  background: hsla(0, 0%, 100%, 0.75);
  border: none;
  color: #333;
}

.flickity-button:hover {
  background: white;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19f;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: currentColor;
}

/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}

//********** Testimonials Styles **********

.testimonials-section {
  padding-bottom: calc(#{$section-spacing-extra-small} + 25px);
}

.testimonial-wrapper {
  @include flex(row);
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.testimonial-image-wrapper {
  flex: 1 1 auto;
  width: 30%;
  margin-right: $paragraph-spacing-medium;
}

.testimonial-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonial-text-wrapper {
  flex: 1 1 auto;
  width: 70%;
  margin: 0;
}

.testimonial-paragraph {
  font-style: italic;
}

.testimonial-name {
  width: 100%;
  text-align: center;
}

.testimonial-link {
  @include link-underline($font-colour-blue);
  color: $font-colour-blue;
}
