//*==============================================================================
//** Homepage SCSS **
//*==============================================================================

//********** Imports **********

@use 'bits' as *; //Contains variables, media queries mixins etc.

//*=========================================
//** Three Image Section **
//*=========================================

.three-image-flex-wrapper {
  @include flex(row);
  justify-content: space-between;
  width: 100%;
}

.three-image-block-wrapper {
  flex: 0 1 auto;
  width: 30%;
}

.three-image-image {
  margin-bottom: $paragraph-spacing-medium;
}

.three-image-paragraph {
  text-align: center;
}

//*=========================================
//** Split Image Text Section **
//*=========================================

.text-image-section {
  @include flex(row);
  justify-content: flex-start;
  height: auto;
}

.section-image-wrapper,
.section-text-wrapper {
  flex: 1 1 auto;
  width: 50%;
  height: auto;
}

.section-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-text-wrapper {
  @include flex(column);
  justify-content: space-between;
  padding: $paragraph-spacing-large;
  font-size: $font-size-main;

  p {
  }
}

//*=========================================
//** Parallax Image Section **
//*=========================================

.parallax-image-section {
  margin-bottom: $section-spacing-medium;
  padding: 0;
  height: 70vh;
}

.parallax-image-wrapper {
  height: 100vh;
}
.parallax-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

//*=========================================
//** Testimonials SEction  **
//*=========================================

.testimonials-section {
  height: 100vh;
}
