//*==============================================================================
//** Legals SCSS **
//*==============================================================================

//********** Imports **********

@use 'bits' as *; //Contains variables, media queries mixins etc.

.legals-section {
  background-color: #fff;
}

.legals-header {
  height: auto;
  padding: 0;
}

.legals-section {
  padding: $section-spacing-medium $section-spacing-large
    $section-spacing-medium;

  @include breakpoint(1600) {
    padding: $section-spacing-medium $section-spacing-small;
  }

  @include breakpoint(1200) {
    padding: $section-spacing-extra-small $paragraph-spacing-medium;
  }
}
