// *=======================================================================================
// ** Styles for all pages  **
// ** Reset based on https://hankchizljaw.com/wrote/a-modern-css-reset/  **
// *=======================================================================================

//********** Imports **********

@use 'bits' as *; //Contains variables, media queries mixins etc.

// *=========================================
// ** Wrappers **
// *=========================================

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  font-size: 10px;
  overflow-x: hidden;
}

// * Box sizing rules
*,
*:before,
*:after {
  box-sizing: border-box;
}

// *=========================================
// ** Content container and block **
// *=========================================

//********** Headings**********

h1 {
  font-size: $heading-size-extra-large;
  margin: 0 auto $heading-spacing-extra-large;
  width: fit-content;
}

h2 {
  font-size: $heading-size-large;
  margin: 0 auto $heading-spacing-large;
  width: fit-content;
}

h3 {
  font-size: $heading-size-medium;
  margin: 0 auto $heading-spacing-medium;
  width: fit-content;
}

h4 {
  font-size: $heading-size-small;
  margin: 0 auto $heading-spacing-medium;
  width: fit-content;
}

//********** Containers **********

section {
  overflow: hidden;
  padding: 0 $section-spacing-extra-small $section-spacing-medium;
}

//********** Paragraphs **********

p {
  margin: 0 auto $paragraph-spacing-medium;
}

//********** Lists **********
ul,
ol {
  margin: 0 auto $paragraph-spacing-medium;

  li {
    margin-bottom: $paragraph-spacing-tiny;
  }
}

// *=========================================
// ** Inline **
// *=========================================

//********** Images **********

//* Make images easier to work with
img {
  max-width: 100%;
  display: block;
}

//********** Links **********

a {
  text-decoration: none;
}

//********** Button **********

.main-site-button {
  font-size: $font-size-medium;
  font-weight: bold;
  outline: none;
  padding: $paragraph-spacing-tiny;
  border-width: 4px;
  border-style: solid;
  position: relative;
  transition: 0.3s all ease;
}

// *=========================================
// ** Main Nav  **
// *=========================================

.header-nav-bar {
  @include flex(row);
  justify-content: space-between;
  align-items: center;
  padding: $paragraph-spacing-small;
  background-color: $background-colour-light;
  width: 100%;
  height: 20vh;
  overflow: hidden;
}

.main-nav {
  width: fit-content;
  margin: 0;
}

.main-nav-link {
  text-transform: capitalize;
  margin: 0 $paragraph-spacing-medium 0 0;
  font-size: $font-size-main;
  font-weight: bold;
  color: $font-colour-dark;
  @include link-underline($font-colour-dark);

  &:last-of-type {
    margin: 0;
  }
}

#main-nav-current {
  color: $font-colour-blue;
  pointer-events: none;
}

.main-nav-trigger-wrapper {
  display: none;
}

//********** Responsive Styles **********

//*=========================================
//** Header **
//*=========================================

.main-header {
  position: relative;
  padding-bottom: $section-spacing-medium;
}

.main-logo-wrapper {
  width: 100%;
  height: auto;
  max-width: 150px;
}

.main-logo {
  width: 100%;
  height: 100%;
}

.header-content-wrapper {
  @include flex(row);
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 70vh;
}

.header-text-wrapper,
.header-main-image-wrapper {
  flex: 1 0 auto;
  width: 50%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  background-color: $background-colour-one;
}

.header-text-wrapper {
  @include flex(column);
  align-items: flex-start;
  justify-content: space-around;
  padding: $paragraph-spacing-medium;
  color: $font-colour-light;
}

.main-header-heading {
  margin: 0;
}

.header-subheading {
  font-size: $font-size-medium;
  font-weight: normal;
  margin: 0;
}

.header-button {
  background-color: $background-colour-one;
  color: $font-colour-light;
  border-color: $font-colour-light;

  &:hover {
    color: $font-colour-blue;
    background-color: $background-colour-light;
    box-shadow: 5px 5px 0px 0px #289fed, 10px 10px 0px 0px #5fb8ff,
      15px 15px 0px 0px #a1d8ff, 20px 20px 0px 0px #cae6ff,
      25px 25px 0px 0px #e1eeff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  }

  &:active {
    box-shadow: none;
  }
}

.header-main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
// *=========================================
// ** Body **
// *=========================================

body {
  @include main-font-stack;
  font-size: $font-size-main;
}

// *=========================================
// ** Forms  **
// *=========================================

.general-contact-form-section {
  color: $font-colour-dark;
  background-color: $background-colour-one;
  color: $font-colour-light;
  padding: $section-spacing-extra-small $section-spacing-medium;
}

.general-contact-form-wrapper {
  @include flex(column);
  justify-content: center;
}

.general-contact-form-input-wrapper {
  @include flex(row);
  justify-content: flex-end;
  align-items: flex-start;
  font-size: $font-size-main;
  margin-bottom: $section-spacing-small;
}

.general-contact-form-label {
  width: $section-spacing-large;
  flex: 0 1 auto;
  font-weight: 700;
  vertical-align: bottom;
  line-height: 0.7;

  @include breakpoint(700) {
    line-height: normal;
    margin-bottom: $paragraph-spacing-medium;
  }
}

.text-area-label {
  align-self: flex-start;
}

.general-contact-form-input {
  flex: 1 1 auto;
  border: 3px solid transparent;
  padding: 1rem;
  transition: $transition-two;

  @include breakpoint(700) {
    width: 100%;
  }

  &:focus,
  &:active {
    border: 3px solid $accent-colour-one;
  }
}

.text-area-input {
  border-bottom: 0;
  line-height: 1.85rem;
  background-attachment: local;
  resize: none;
}

.contact-consent-link {
  color: $font-colour-light;
  text-decoration: underline;
}

//* Inherit fonts for inputs and buttons
input,
button,
textarea,
select {
  font: inherit;
}

//********** Checkbox **********
.checkbox-div {
  @include flex(row);
  margin-bottom: $section-spacing-small;
  justify-content: center;
  align-items: flex-start;

  input {
    position: relative;
    width: fit-content;
    font-size: 0;
    top: 1rem;
    display: inline;

    &:before {
      content: '';
      display: inline-block;
      width: 2rem;
      height: 2rem;
      border: 1px solid $background-colour-one;
      border-radius: 0.25em;
      background: $background-colour-light;
    }

    &:after {
      content: '';
      position: absolute;
      height: 9px;
      width: 19px;
      color: $font-colour-dark;
      border-left: 4px solid;
      border-bottom: 4px solid;
      top: 3px;
      left: 0;
      transform: rotate(-25deg) scale(0.75);
      opacity: 0;
      transition: all $timing-duration-medium cubic-bezier(0.18, 1.96, 1, 1.96);
    }

    &:checked:after {
      opacity: 1;
      transform: rotate(-45deg) scale(1);
    }
  }

  label {
    text-transform: none;
    display: inline-block;
    font-weight: bold;
    width: auto;
    margin-right: $paragraph-spacing-medium;
  }
}

.submit-wrapper {
  margin-bottom: 0;
}

.submit {
  margin: 0 auto;
  border: 1px solid $background-colour-one;
  background-color: $background-colour-light;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0;
  transition: all ease $timing-duration-medium;

  &:hover {
    background-color: $background-colour-one;
    color: $font-colour-light;
  }
}

.success {
  font-size: $font-size-medium;
  text-align: center;
}

//********** Honeypot **********

.form-identification-number {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

// *=========================================
// ** Footer  **
// *=========================================

//*=========================================
//** Utility & Accessibility  **
//*=========================================

//* Remove all animations and transitions for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

//*Skip to content link
.show-on-focus {
  position: absolute;
  color: $font-colour-dark;
  background-color: $background-colour-light;
  padding: 10px;
  font-size: $font-size-main;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  margin: 0.5rem 0 0 0.5rem;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  text-decoration: none;

  &:focus {
    z-index: 20;
    width: auto;
    height: auto;
    clip: auto;
  }
}

//* Hides outline unless tab key is pressed

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

.user-is-tabbing {
  a:focus,
  button:focus,
  input:focus,
  textarea:focus {
    outline: 3px dashed #ff5e00;
  }
}

//*=========================================
//** Browser Specific Styles  **
//*=========================================
