<div class="header-main-image-wrapper">
  <img class="header-main-image" itemprop="image" src="<perch:content id="headerMainImage" type="image" width="2000" label="Header Main Image" quality="70">" alt="<perch:content id="alt" type="text" label="Image description">"
  sizes="100vw"
  srcset="<perch:content type="image" id="headerMainImage" width="2000" > 2000w,
  <perch:content type="image" id="headerMainImage" width="1500" quality="70"> 1500w,
  <perch:content type="image" id="headerMainImage" width="1100" quality="70"> 1100w,
  <perch:content type="image" id="headerMainImage" width="900" quality="70"> 900w,
  <perch:content type="image" id="headerMainImage" width="700" quality="70"> 700w" >
</div>