<section class="homepage-section parallax-image-section">
  <div class="parallax-image-wrapper">
    <img class="parallax-image" itemprop="image" src="<perch:content id="parralaxImage" type="image" width="2000" label="Parallax Image" help="Use a landscape orientated image which is at least 2000px wide" quality="70">" alt="<perch:content id="alt" type="text" label="Image description">"
    sizes="100vw"
    srcset="<perch:content type="image" id="parralaxImage" width="2000" > 2000w,
    <perch:content type="image" id="parralaxImage" width="1500" quality="70"> 1500w,
    <perch:content type="image" id="parralaxImage" width="1200" quality="70"> 1200w,
    <perch:content type="image" id="parralaxImage" width="900" quality="70"> 900w,
    <perch:content type="image" id="parralaxImage" width="650" quality="70"> 650w" >
  </div>
</section>