<section class="homepage-section testimonials-section">
  <h2 class="section-heading testimonials-heading">
    <perch:content id="homepageTestimonialsHeading" type="text" label="Heading" required>
  </h2>
  <div class="main-carousel">
    <div class="carousel-cell">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum molestiae, eligendi consequatur ipsum voluptas ex soluta quasi quod tempore cumque voluptate qui est quibusdam iure distinctio expedita similique mollitia reiciendis quaerat eveniet magnam debitis cum? Consequatur ullam ratione incidunt ipsa iure accusantium odio, commodi facere. Ea reiciendis facilis totam! Vero.</p>
    </div>
    <div class="carousel-cell">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum molestiae, eligendi consequatur ipsum voluptas ex soluta quasi quod tempore cumque voluptate qui est quibusdam iure distinctio expedita similique mollitia reiciendis quaerat eveniet magnam debitis cum? Consequatur ullam ratione incidunt ipsa iure accusantium odio, commodi facere. Ea reiciendis facilis totam! Vero.</p>
    </div>
    <div class="carousel-cell">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum molestiae, eligendi consequatur ipsum voluptas ex soluta quasi quod tempore cumque voluptate qui est quibusdam iure distinctio expedita similique mollitia reiciendis quaerat eveniet magnam debitis cum? Consequatur ullam ratione incidunt ipsa iure accusantium odio, commodi facere. Ea reiciendis facilis totam! Vero.</p>
    </div>
  </div>

</section>