<section class="homepage-section three-image-section">
  <h2 class="section-heading three-image-section-heading">
    <perch:content id="threeImageHeading" type="text" label="Section Heading" help="Keep headings brief" required>
  </h2>
  <div class="three-image-flex-wrapper">
    <div class="three-image-block-wrapper">
      <h3 class="three-image-subheading">
        <perch:content id="threeImageSubtitleOne" type="text" label="Subheading One" divider-before="Block One" required>
      </h3>
      <div class="three-image-image-wrapper">
        <img class="three-image-image" itemprop="image" loading="lazy" src="<perch:content id="threeImgOne" type="image" width="1200" height="800" crop label="Image" help="Image must be at least 1200px wide and 800px high" quality="70">" alt="<perch:content id="altOne" type="text" label="Image description">"
        sizes="30vw"
        srcset="<perch:content type="image" id="threeImgOne" width="1200" height="800" crop> 1200w,
        <perch:content type="image" id="threeImgOne" width="1000" height="667" quality="70" crop> 1000w,
        <perch:content type="image" id="threeImgOne" width="800" height="553" quality="70" crop> 800w,
        <perch:content type="image" id="threeImgOne" width="600" height="400" quality="70" crop> 600w,
        <perch:content type="image" id="threeImgOne" width="400" height="267" quality="70" crop> 400w" >
      </div>
      <p class="three-image-paragraph">
        <perch:content id="threeImgParaOne" type="text" label="Text" help="Keep this description very brief" size="l" count="words" required>
      </p>
    </div>

    <div class="three-image-block-wrapper">
      <h3 class="three-image-subheading">
        <perch:content id="threeImageSubtitleTwo" type="text" label="Subheading Two" divider-before="Block Two" required>
      </h3>
      <div class="three-image-image-wrapper">
        <img class="three-image-image" itemprop="image" loading="lazy" src="<perch:content id="threeImgTwo" type="image" width="1200" height="800" crop label="Image" help="Image must be at least 1200px wide and 800px high" quality="70">" alt="<perch:content id="altTwo" type="text" label="Image description">"
        sizes="30vw"
        srcset="<perch:content type="image" id="threeImgTwo" width="1200" height="800" crop> 1200w,
        <perch:content type="image" id="threeImgTwo" width="1000" height="667" quality="70" crop> 1000w,
        <perch:content type="image" id="threeImgTwo" width="800" height="553" quality="70" crop> 800w,
        <perch:content type="image" id="threeImgTwo" width="600" height="400" quality="70" crop> 600w,
        <perch:content type="image" id="threeImgTwo" width="400" height="267" quality="70" crop> 400w" >
      </div>
      <p class="three-image-paragraph">
        <perch:content id="threeImgParaTwo" type="text" label="Text" help="Keep this description very brief" size="l" count="words" required>
      </p>
    </div>

    <div class="three-image-block-wrapper">
      <h3 class="three-image-subheading">
        <perch:content id="threeImageSubtitleThree" type="text" label="Subheading Three" divider-before="Block Three" required>
      </h3>
      <div class="three-image-image-wrapper">
        <img class="three-image-image" itemprop="image" loading="lazy" src="<perch:content id="threeImgThree" type="image" width="1200" height="800" crop label="Image" help="Image must be at least 1200px wide and 800px high" quality="70">" alt="<perch:content id="altThree" type="text" label="Image description">"
        sizes="30vw"
        srcset="<perch:content type="image" id="threeImgThree" width="1200" height="800" crop> 1200w,
        <perch:content type="image" id="threeImgThree" width="1000" height="667" quality="70" crop> 1000w,
        <perch:content type="image" id="threeImgThree" width="800" height="553" quality="70" crop> 800w,
        <perch:content type="image" id="threeImgThree" width="600" height="400" quality="70" crop> 600w,
        <perch:content type="image" id="threeImgThree" width="400" height="267" quality="70" crop> 400w" >
      </div>
      <p class="three-image-paragraph">
        <perch:content id="threeImgParaThree" type="text" label="Text" size="l" count="words" help="Keep this description very brief"  required>
      </p>
    </div>
  </div>
</section>