<section class="homepage-section three-image-section">

  <div class="three-image-block-wrapper">
    <h3 class="three-image-subtitle">
      <perch:content id="threeImageSubtitme" type="text" label="Section Subtitle" required>
    </h3>
    <div class="three-image-image-wrapper">
      <img class="three-image-image" itemprop="image" src="<perch:content id="threeImgOne" type="image" width="1200" label="Image" quality="70">" alt="<perch:content id="alt" type="text" label="Image description">"
      sizes="30vw"
      srcset="<perch:content type="image" id="threeImgOne" width="1200" > 1200w,
      <perch:content type="image" id="threeImgOne" width="1000" quality="70"> 1000w,
      <perch:content type="image" id="threeImgOne" width="800" quality="70"> 800w,
      <perch:content type="image" id="threeImgOne" width="600" quality="70"> 600w,
      <perch:content type="image" id="threeImgOne" width="400" quality="70"> 400w" >
    </div>
    <p class="three-image-paragraph">
      <perch:content id="threeImgParaOne" type="text" label="Text" help="Keep this description very brief"  required>
    </p>
  </div>

  <div class="three-image-block-wrapper">
    <h3 class="three-image-subtitle">
      <perch:content id="threeImageSubtitme" type="text" label="Section Subtitle" required>
    </h3>
    <div class="three-image-image-wrapper">
      <img class="three-image-image" itemprop="image" src="<perch:content id="threeImgTwo" type="image" width="1200" label="Image" quality="70">" alt="<perch:content id="alt" type="text" label="Image description">"
      sizes="30vw"
      srcset="<perch:content type="image" id="threeImgTwo" width="1200" > 1200w,
      <perch:content type="image" id="threeImgTwo" width="1000" quality="70"> 1000w,
      <perch:content type="image" id="threeImgTwo" width="800" quality="70"> 800w,
      <perch:content type="image" id="threeImgTwo" width="600" quality="70"> 600w,
      <perch:content type="image" id="threeImgTwo" width="400" quality="70"> 400w" >
    </div>
    <p class="three-image-paragraph">
      <perch:content id="threeImgParaOne" type="text" label="Text" help="Keep this description very brief"  required>
    </p>
  </div>

  <div class="three-image-block-wrapper">
    <h3 class="three-image-subtitle">
      <perch:content id="threeImageSubtitme" type="text" label="Section Subtitle" required>
    </h3>
    <div class="three-image-image-wrapper">
      <img class="three-image-image" itemprop="image" src="<perch:content id="threeImgThree" type="image" width="1200" label="Image" quality="70">" alt="<perch:content id="alt" type="text" label="Image description">"
      sizes="30vw"
      srcset="<perch:content type="image" id="threeImgThree" width="1200" > 1200w,
      <perch:content type="image" id="threeImgThree" width="1000" quality="70"> 1000w,
      <perch:content type="image" id="threeImgThree" width="800" quality="70"> 800w,
      <perch:content type="image" id="threeImgThree" width="600" quality="70"> 600w,
      <perch:content type="image" id="threeImgThree" width="400" quality="70"> 400w" >
    </div>
    <p class="three-image-paragraph">
      <perch:content id="threeImgParaOne" type="text" label="Text" help="Keep this description very brief"  required>
    </p>
  </div>
</section>