    <div class="blog-index-container">
      <h3 class="blog-index-title">
        <a href="<perch:blog id="postURL" />">
          <perch:blog id="postTitle" />
        </a>
      </h3>
      <img class="blog-index-image fade-up-in lazy" data-src="<perch:blog id="blogIndexImage" type="image" width="1350" height="900" label="Blog Index image">" alt="<perch:blog id="alt" type="text" label="Image description">"
      data-sizes="(max-width:1100) 50vw, 100vw"
      data-srcset="<perch:blog type="image" id="blogIndexImage" width="1350" height="900" crop> 1350w,
      <perch:blog type="image" id="blogIndexImage" width="1100" height="733" crop> 1100w,
      <perch:blog type="image" id="blogIndexImage" width="800" height="533" crop> 800w,
      <perch:blog type="image" id="blogIndexImage" width="600" height="400" crop> 600w,
      <perch:blog type="image" id="blogIndexImage" width="400" height="267" crop> 400w" >
      <div class="blog-excerpt-div">
        <perch:blog id="blog-index-excerpt" html="true">
      </div>
    </div>

